<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Posts style-c</title>
	<link rel="stylesheet" type="text/css" href="./../../assets/css/layout.front.css">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/posts_new.css">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css">
	<script type="text/javascript" src="./../../assets/js/module.all.js"></script>
	<script type="text/javascript" src="./../../assets/js/module.bui.js"></script>
	<script type="text/javascript" defer="" src="./../../assets/js/module.bui.template.js"></script>
</head>
<body>
	<div id="page">
		<h1>Posts style-c</h1>
		<h2>type-a</h2>	
		<h3 id="typeaXlargeLand">x-large attr-landscape</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-a x-large attr-landscape">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h3 id="typeaXlargeLandScroll">x-large attr-landscape attr-scroll</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-a x-large attr-scroll attr-landscape">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
				<%-include('../_mixin/_posts.item.c.ejs') %>
				<%-include('../_mixin/_posts.item.c.ejs') %>
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
		</div>
		<!--//posts-display-->
	
	
		<h3 id="typeaLarge">large</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-a large">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h3 id="typeaLargeScroll">large attr-scroll</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-a large attr-scroll">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
				<%-include('../_mixin/_posts.item.c.ejs') %>
				<%-include('../_mixin/_posts.item.c.ejs') %>
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
		</div>
		<!--//posts-display-->
	
		<h3 id="typeaLargeLand">large attr-landscape</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-a large attr-landscape">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h2>type-b</h2>	
		<h3 id="typebLarge">large</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-b large">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h3 id="typebMedium">medium</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-b medium">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h3 id="typebSmall">small</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-b small">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h2>type-c</h2>
	
		<h3 id="typecLarge">large</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-c large">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.c.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
	
		<h2>type-d</h2>
		
		<h3 id="typedMedium">mediuim</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-d medium">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.type.d.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h3 id="typedMediumScroll">mediuim attr-scroll</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-d medium attr-scroll">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.type.d.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area more-data">
				<a class="btn" href="#">+24</a>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->

		<h3 id="typedSmall">small</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-d small">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.type.d.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area style-a type-a">
				<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	
		<h3 id="typedSmallScroll">small attr-scroll</h3>
		<!--posts-display-->
		<div class="posts-display style-c type-d small attr-scroll">
			<!--posts-list-->
			<ul class="posts-list">
				<%-include('../_mixin/_posts.item.type.d.ejs') %>
			</ul>
			<!--//posts-list-->
			<!--button-area-->
			<div class="button-area more-data">
				<a class="btn" href="#">+24</a>
			</div>
			<!--//button-area-->
		</div>
		<!--//posts-display-->
	</div>
</body>
</html>