<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.goods.css',
	pageJavascript: 'page.goods.js'
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '1'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">쇼핑</span></h2>
<%-include('../_templates/_lnb.goods.ejs', {current: '1'}) %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body shopping-intro" id="content">
				<!--content-head-->
				<div class="content-head"><div class="content-title"><h3 class="content-name">홈</h3></div></div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--section-->
					<div class="section exhibition">
						<div class="section-head"><div class="section-title"><h4 class="section-name">기획전 및 이벤트</h4></div></div>
						<div class="section-body">
							<!--display-board-->
							<div class="display-board swiper-container">
								<ul class="board-list swiper-wrapper">
									<li class="board-item swiper-slide" data-swiper-autoplay="4000"><a class="board-area" href="#"><span class="board-figure"><img class="image" src="./../../assets/images/@temporary/image_banner_640x400_01.png" alt="특별한 스타일 조명 기획전-모던, 빈티지, 럭셔리 스타일의 조명 세트와 포인트가 되는 팬던트, 스탠드를 만나보세요!"></span></a></li>
									<li class="board-item swiper-slide" data-swiper-autoplay="4000"><a class="board-area" href="#"><span class="board-figure"><img class="image" src="./../../assets/images/@temporary/image_banner_640x400_02.png" alt="포근포근 부드러운 극세사 차렵이불-꾸준히 사랑받는 인테리어 제품을 만나보세요."></span></a></li>
									<li class="board-item swiper-slide" data-swiper-autoplay="4000"><a class="board-area" href="#"><span class="board-figure"><img class="image" src="./../../assets/images/@temporary/image_banner_640x400_03.png" alt="이태리 브랜드 GREDY 런칭-장인의 나라 이태리에서 왔어요!"></span></a></li>
									<li class="board-item swiper-slide" data-swiper-autoplay="4000"><a class="board-area" href="#"><span class="board-figure"><img class="image" src="./../../assets/images/@temporary/image_banner_640x400_04.png" alt="코토세라 욕실 시공 패키지-10년 이상 쓰는 욕실, 우리 집 욕실은 아름답고 더 특별하게"></span></a></li>
									<li class="board-item swiper-slide" data-swiper-autoplay="4000"><a class="board-area" href="#"><span class="board-figure"><img class="image" src="./../../assets/images/@temporary/image_banner_640x400_05.png" alt="플레이팅의 시작 식기세트-내식탁 위, 작은 경양식 레스토랑"></span></a></li>
									<li class="board-item swiper-slide" data-swiper-autoplay="4000"><a class="board-area" href="#"><span class="board-figure"><img class="image" src="./../../assets/images/@temporary/image_banner_640x400_06.png" alt="패브릭 원단 초특가 할인-무엇을 만들어도 실용만점!"></span></a></li>
								</ul>
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<div class="swiper-util">
									<span class="swiper-control">
										<button type="button" class="swiper-stop active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>정지</title><path d="M15.2,6.6v10.8c0,0.3-0.3,0.6-0.6,0.6c-0.3,0-0.6-0.3-0.6-0.6V6.6C14,6.3,14.3,6,14.6,6 C14.9,6,15.2,6.3,15.2,6.6z M9.4,6C9.1,6,8.8,6.3,8.8,6.6v10.8c0,0.3,0.3,0.6,0.6,0.6c0.3,0,0.6-0.3,0.6-0.6V6.6C10,6.3,9.7,6,9.4,6 z"></path></svg></button>
										<button type="button" class="swiper-start"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>시작</title><path d="M8.7,7C8.3,7,8,7.4,8,7.8v8.3c0,0.1,0,0.3,0.1,0.4c0.2,0.4,0.6,0.6,1,0.4l7.1-4.2c0.1-0.1,0.3-0.2,0.3-0.4 c0.2-0.4,0-0.9-0.3-1.1L9,7.1C8.9,7,8.8,7,8.7,7L8.7,7z"></path></svg></button>
									</span>
									<span class="swiper-number-page">
										<span class="swiper-pagination"></span>
										<a class="goto-total" href="#bannerAllView" data-bui-toggle-button="bannerAllView"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>전체보기</title><path d="M12.6,5.5v5.9h5.9v1.2h-5.9v5.9h-1.2v-5.9H5.5v-1.2h5.9V5.5C11.4,5.5,12.6,5.5,12.6,5.5z"></path></svg></a>
									</span>
								</div>
							</div>
							<!--//display-board-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section favorite-keywords">
						<div class="section-head"><div class="section-title"><h4 class="section-name">즐겨찾는 키워드</h4></div></div>
						<div class="section-body">
							<div class="keyword-area">
								<div class="data-list">
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">샤시손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">원목손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">방문손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">현관손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">아기방손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">강화도어손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">샤시손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">원목손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">방문손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">현관손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">아기방손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">강화도어손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">샤시손잡이</span></a></span>
									<span class="data-item"><a class="keyword style-c type-b normal-03 large" href="#"><span class="keyword-text">원목손잡이</span></a></span>
								</div>
							</div>
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section default favorite-category">
						<div class="section-head"><div class="section-title"><h4 class="section-name">즐겨찾는 카테고리</h4></div></div>
						<div class="section-body">
							<div class="sort-display style-c type-a large">
								<ul class="sort-list">
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_01.png);" href="#">방문손잡이</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_02.png);" href="#">가구부속</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_03.png);" href="#">수성페인트</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_04.png);" href="#">공간별조명</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_05.png);" href="#">바닥타일</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_06.png);" href="#">DIY 매트</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_07.png);" href="#">셀프벽지</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_08.png);" href="#">필름 &middot; 시트지</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_09.png);" href="#">주방가구</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_10.png);" href="#">선반가구</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_01.png);" href="#">캠핑용품</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_02.png);" href="#">생활용품</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_03.png);" href="#">홈데코소품</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_04.png);" href="#">데스크 정리용품</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_05.png);" href="#">카페트 &middot; 러그</a></li>
									<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_06.png);" href="#">계절가전</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section default today-hot organized">
						<ul class="sort-list">
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_01.png);" href="#">방문손잡이</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_02.png);" href="#">가구부속</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_03.png);" href="#">수성페인트</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_04.png);" href="#">공간별조명</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_05.png);" href="#">바닥타일</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_06.png);" href="#">DIY 매트</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_07.png);" href="#">셀프벽지</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_08.png);" href="#">필름 &middot; 시트지</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_09.png);" href="#">주방가구</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_10.png);" href="#">선반가구</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_01.png);" href="#">캠핑용품</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_02.png);" href="#">생활용품</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_03.png);" href="#">홈데코소품</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_04.png);" href="#">데스크 정리용품</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_05.png);" href="#">카페트 &middot; 러그</a></li>
							<li class="sort-item"><a class="sort-name" style="background-image: url(./../../assets/images/@temporary/img_category_06.png);" href="#">계절가전</a></li>
						</ul>
						<div class="section-head"><div class="section-title"><h4 class="section-name">오늘의 인기 상품</h4></div></div>
						<div class="section-body">
							<!--goods-display-->
							<div class="goods-display style-a type-c medium">
								<!--goods-list-->
								<div class="goods-list">
									<% for(var i = 0; i < 9; i++) {
										Number.prototype.pad = function(size) {
											var s = String(this);
											while (s.length < (size || 2)) {s = "0" + s;}
											return s;
									} %>
									<div class="goods-item">
										<!--goods-area-->
										<div class="goods-area">
											<!--goods-figure-->
											<div class="goods-figure">
												<a href="#" class="goods-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/thumbnail_goods_<%= (i).pad(2) %>.jpg" alt=""></a>
												<% if(i === 0) { %><span class="goods-noti recommend">추천</span><% } %><% if(i === 1) { %><span class="goods-noti will-release">출시예정</span><% } %><% if(i === 2) { %><span class="goods-noti time-deal">타임딜</span><% } %><% if(i === 3) { %><span class="goods-noti new-product">신제품</span><% } %><% if(i === 4) { %><span class="goods-noti sold-out">품절</span><% } %>
												<% if(i === 0) { %><button class="btn goods-scrap checked" type="button" onclick="goodsScrap(this);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>스크랩 삭제</title><path d="M19,4v17l-7-4l-7,4V4c0-0.6,0.4-1,1-1h12C18.6,3,19,3.4,19,4z"></path></svg></button><% } else { %><button class="btn goods-scrap" type="button" onclick="goodsScrap(this);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>스크랩 추가</title><path d="M18,3H6C5.4,3,5,3.4,5,4v17l7-4l7,4V4C19,3.4,18.6,3,18,3z M17,17.6l-5-2.9l-5,2.9V5h10V17.6z"></path></svg></button><% } %>
											</div>
											<!--//goods-figure-->
											<!--goods-inform-->
											<div class="goods-inform">
												<!--goods-head-->
												<div class="goods-head"><div class="goods-title"><a class="goods-name" href="#">고행을 하였으며, 끝에 뿐이다. 그것은 너의 전인 옷을 위하여 할지니, 있음으로써 힘있다.</a></div></div>
												<!--//goods-head-->
												<!--goods-foot-->
												<div class="goods-foot">
													<div class="goods-price">
														<div class="data-list">
															<span class="data-item sale"><span class="head">판매가</span> <span class="body"><span class="text">9,999,000</span> <span class="unit">원</span></span></span>
															<span class="data-item off"><span class="head">할인율</span> <span class="body"><span class="text">36</span> <span class="unit">%</span></span></span>
														</div>
													</div>
												</div>
												<!--//goods-foot-->
											</div>
											<!--//goods-inform-->
										</div>
										<!--//goods-area-->
									</div>
									<% } %>
								</div>
								<!--//goods-list-->
							</div>
							<!--//goods-display-->
						</div>
					</div>
					<!--//section-->
					<!--display-board-->
					<div class="display-board get-coupon"><a class="board-area" href="#" style="background-color: #00b076;"><span class="board-figure"><img class="image" src="./../../assets/images/@temporary/image_banner_1088x80_01.png" alt="지금 즉시 받을 수 있는 쿠폰이에요!"></span></a></div>
					<!--//display-board-->

					<!--section-->
					<div class="section default recommend-brand">
						<div class="section-head"><div class="section-title"><h4 class="section-name">추천 브랜드</h4></div></div>
						<div class="section-body">
							<!--brand-display-->
							<div class="brand-display swiper-container">
								<div class="brand-list swiper-wrapper">
									<% for(var j = 0; j < 9; j++) { %>
									<div class="brand-item swiper-slide">
										<!--brand-area-->
										<div class="brand-area" style="background-image: url(./../../assets/images/@temporary/thumbnail_posts_00.jpg);">
											<div class="brand-figure">
												<span class="brand-logo"><img class="image" src="./../../assets/images/@temporary/logo_store_01.png" alt=""></span><!--등록 이미지가 없을 경우 img 삭제-->
											</div>
											<div class="brand-inform">
												<div class="brand-head"><div class="brand-title"><a class="brand-name" href="#">벤트리</a></div></div>
												<div class="brand-body">
													<p class="brand-summary"><a href="#">생활에 가장 가깝게 스며드는 조명, 따뜻한 빛을 내는 세븐라이팅입니다. 자체 공장 운영 및 직접 제조의 발빠른 유통망으로 언제나 합리적인 가격과 A/S를 제공하며 디자이너들의 열정과 노력이 가득한  트렌디한 디자인의 출시로 언제나 특별함을 선사합니다.</a></p>
												</div>
											</div>
										</div>
										<!--//brand-area-->
										<!--brand-side-->
										<div class="brand-side">
											<!--goods-display-->
											<div class="goods-display style-a type-c">
												<!--goods-list-->
												<div class="goods-list">
													<% for(var i = 0; i < 6; i++) {
														Number.prototype.pad = function(size) {
															var s = String(this);
															while (s.length < (size || 2)) {s = "0" + s;}
															return s;
													} %>
													<div class="goods-item">
														<!--goods-area-->
														<div class="goods-area">
															<!--goods-figure-->
															<div class="goods-figure"><a href="#" class="goods-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/thumbnail_goods_<%= (i).pad(2) %>.jpg" alt=""></a></div>
															<!--//goods-figure-->
														</div>
														<!--//goods-area-->
													</div>
													<% } %>
												</div>
												<!--//goods-list-->
												<div class="button-area more-data">
													<a class="btn" href="#">+24</a>
												</div>
											</div>
											<!--//goods-display-->
										</div>
										<!--//brand-side-->
									</div>
									<% } %>
								</div>
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<div class="swiper-pagination"></div>
							</div>
							<!--//brand-display-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section store-info">
						<div class="section-head"><div class="section-title"><h4 class="section-name">계좌안내 및 오프라인 매장 안내</h4></div></div>
						<div class="section-body">
							<!--subsection-->
							<div class="subsection default bank-account">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">계좌안내</h5></div></div>
								<div class="subsection-body">
									<!--data-display-->
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item">
												<div class="data-area">
													<span class="data-head"><span class="data-name">농협</span></span>
													<span class="data-body">355-0002-4415-13</span>
												</div>
											</li>
											<li class="data-item">
												<div class="data-area">
													<span class="data-head"><span class="data-name">국민</span></span>
													<span class="data-body">350601-04-158803</span>
												</div>
											</li>
											<li class="data-item">
												<div class="data-area">
													<span class="data-head"><span class="data-name">우리</span></span>
													<span class="data-body">1005-201-794928</span>
												</div>
											</li>
										</ul>
									</div>
									<!--//data-display-->
									<p class="para normal-02 small">예금주 (주)문고리닷컴</p>
								</div>
							</div>
							<!--//section-->
							<!--subsection-->
							<div class="subsection default offline-store">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">오프라인 매장안내</h5></div></div>
								<div class="subsection-body">
									<!--data-display-->
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item"><div class="data-area"><span class="data-head"><a class="data-name" target="_blank" href="http://bnq.co.kr/self/?views=1">서울 동대문점 (현대시티아울렛)</a></span></div></li>
											<li class="data-item"><div class="data-area"><span class="data-head"><a class="data-name" target="_blank" href="http://bnq.co.kr/self/?views=2">서울 송파점 (가든파이브)</a></span></div></li>
											<li class="data-item"><div class="data-area"><span class="data-head"><a class="data-name" target="_blank" href="http://bnq.co.kr/self/?views=3">경기 부천점 (뉴코아아울렛)</a></span></div></li>
											<li class="data-item"><div class="data-area"><span class="data-head"><a class="data-name" target="_blank" href="http://bnq.co.kr/self/?views=4">경기 평촌점 (뉴코아아울렛)</a></span></div></li>
											<li class="data-item"><div class="data-area"><span class="data-head"><a class="data-name" target="_blank" href="http://bnq.co.kr/self/?views=5">경기 안산점 (롯데하이마트 선부점)</a></span></div></li>
										</ul>
									</div>
									<!--//data-display-->
								</div>
							</div>
							<!--//section-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
<%-include('../_popup/_01.T01.B01.ejs') %>
<%-include('../_popup/_01.T01.B02.ejs') %>
<script stype="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		// 공통팝업
		// notiPopup.toggle('popupNotification');
	});
</script>
</body>
</html>