<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.goods.css',
	pageJavascript: 'page.goods.js'
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '1'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">쇼핑</span></h2>
<%-include('../_templates/_lnb.goods.ejs', {current: '2'}) %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body store-intro" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">브랜드</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--store-display-->
					<div class="store-display" style="background-image: url(./../../assets/images/@temporary/img_brand_01.png)"><!--등록 이미지가 없을 경우 style 삭제-->
						<div class="store-area">
							<div class="store-figure">
								<span class="store-logo"><img class="image" src="./../../assets/images/@temporary/logo_store_01.png" alt=""></span><!--등록 이미지가 없을 경우 img 삭제-->
							</div>
							<div class="store-inform">
								<div class="store-head"><div class="store-title"><span class="store-name">7LIGHTING</span></div></div>
								<div class="store-body">
									<div class="summary"><p class="para">생활에 가장 가깝게 스며드는 조명, 따뜻한 빛을 내는 세븐라이팅입니다. 자체 공장 운영 및 직접 제조의 발빠른 유통망으로 언제나 합리적인 가격과 A/S를 제공하며 디자이너들의 열정과 노력이 가득한  트렌디한 디자인의 출시로 언제나 특별함을 선사합니다.<br>lighting that beautify your space</p></div>
								</div>
								<div class="store-util">
									<div class="data-list">
										<span class="data-item"><a class="em style-a normal-03 small symbol-ltr-info" data-bui-toggle-button="sellerInformation" href="#sellerInformation">판매자 정보</a></span>
										<span class="data-item"><button class="btn scrap" type="button" onclick="itemScrap(this);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>스크랩 추가</title><path d="M18,3H6C5.4,3,5,3.4,5,4v17l7-4l7,4V4C19,3.4,18.6,3,18,3z M17.8,18.9L12,15.6l-5.8,3.3V4.2h11.6V18.9z"></path></svg></button></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//store-display-->
					<!--section-->
					<div class="section main-display">
						<div class="section-head"><div class="section-title"><h4 class="section-name">상품목록</h4></div></div>
						<div class="section-body">
							<!--goods-display-->
							<!--20211026 수정 [기존 : <div class="goods-display style-a type-c large">]-->
							<div class="goods-display style-a type-c medium">
								<%-include('../_mixin/_goods.fillter.ejs') %>
								<!--data-util-->
								<div class="data-util" title="정렬 조건 선택">
									<div class="util-item">
										<div class="tab-display style-a type-a small">
											<ul class="tab-list">
												<li class="tab-item current" title="현재 선택된 항목"><a class="tab-name" href="#">인기순</a></li>
												<li class="tab-item"><a class="tab-name" href="#">신상품순</a></li>
												<li class="tab-item"><a class="tab-name" href="#">낮은가격순</a></li>
												<li class="tab-item"><a class="tab-name" href="#">높은가격순</a></li>
												<li class="tab-item"><a class="tab-name" href="#">할인율순</a></li>
												<li class="tab-item"><a class="tab-name" href="#">평점순</a></li>
												<li class="tab-item"><a class="tab-name" href="#">구매순</a></li>
											</ul>
										</div>
									</div>
									<div class="util-item">
										<div class="option-select style-a type-a">
											<fieldset class="option-list">
												<legend>정렬조건 선택 서식</legend>
												<div class="option-item">
													<div class="option-head">
														<div class="option-name"><label class="form checkbox style-b type-a"><input class="form-elem" type="checkbox"> <span class="form-text">무료배송</span></label></div>
													</div>
												</div>
												<div class="option-item">
													<div class="option-head">
														<div class="option-name"><label class="form checkbox style-b type-a"><input class="form-elem" type="checkbox"> <span class="form-text">할인상품</span></label></div>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>
								<!--//data-util-->
								<!--fillter-area-->
								<div class="fillter-area style-a type-b" title="선택된 필터">
									<div class="data-list">
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">쿠폰</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">최저가</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">문고리닷컴</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">도무스</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">옐로우</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">네이비</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">0 ~ 1,240,000원</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">쿠폰</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">최저가</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">문고리닷컴</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">도무스</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">옐로우</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">네이비</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
										<span class="data-item"><span class="mark theme-a style-b type-a accent-01 medium" href="#"><span class="mark-text">0 ~ 1,240,000원</span> <button class="btn delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>삭제</title><path d="M7.341 6.506l.083.07L11.95 11.1l4.526-4.525c.235-.235.614-.235.849 0 .208.208.231.531.07.765l-.07.083-4.526 4.525 4.526 4.526c.234.235.234.614 0 .849-.209.208-.532.231-.766.07l-.083-.07-4.526-4.526-4.525 4.526c-.234.234-.614.234-.848 0-.209-.209-.232-.532-.07-.766l.07-.083L11.1 11.95 6.576 7.424c-.235-.234-.235-.614 0-.848.208-.209.531-.232.765-.07z"></path></svg></button></span></span>
									</div>
									<div class="button-area">
										<button class="em type-a normal-03 small symbol-ltr-reset" type="button">초기화</button>
									</div>
								</div>
								<!--//fillter-area-->
								<!--goods-list-->
								<div class="goods-list">
									<% for(var i = 0; i < 12; i++) {
										Number.prototype.pad = function(size) {
											var s = String(this);
											while (s.length < (size || 2)) {s = "0" + s;}
											return s;
									} %>
									<div class="goods-item">
										<!--goods-area-->
										<div class="goods-area">
											<!--goods-figure-->
											<div class="goods-figure">
												<a href="#" class="goods-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/thumbnail_goods_<%= (i).pad(2) %>.jpg" alt=""></a>
												<% if(i === 0) { %><span class="goods-noti recommend">추천</span><% } %><% if(i === 1) { %><span class="goods-noti time-deal">타임딜</span><% } %><% if(i === 2) { %><span class="goods-noti sold-out">품절</span><% } %>
												<% if(i === 0) { %><button class="btn goods-scrap checked" type="button" onclick="goodsScrap(this);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>스크랩 삭제</title><path d="M19,4v17l-7-4l-7,4V4c0-0.6,0.4-1,1-1h12C18.6,3,19,3.4,19,4z"></path></svg></button><% } else { %><button class="btn goods-scrap" type="button" onclick="goodsScrap(this);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>스크랩 추가</title><path d="M18,3H6C5.4,3,5,3.4,5,4v17l7-4l7,4V4C19,3.4,18.6,3,18,3z M17,17.6l-5-2.9l-5,2.9V5h10V17.6z"></path></svg></button><% } %>
											</div>
											<!--//goods-figure-->
											<!--goods-inform-->
											<div class="goods-inform">
												<!--goods-head-->
												<div class="goods-head"><div class="goods-title"><a class="goods-name" href="#">고행을 하였으며, 끝에 뿐이다. 그것은 너의 전인 옷을 위하여 할지니, 있음으로써 힘있다.</a></div></div>
												<!--//goods-head-->
												<!--goods-type-->
												<div class="goods-type">
													<div class="data-list">
														<span class="data-item free-shipping">무료배송</span>
														<span class="data-item coupon">쿠폰</span>
														<span class="data-item lowest-price">최저가</span>
														<span class="data-item two-for-one">1+1</span>
														<span class="data-item giveaway">사은품</span>
														<span class="data-item limited-quantity">한정수량</span>
														<span class="data-item exclusive-sale">독점</span>
														<span class="data-item new-product">신상품</span>
														<span class="data-item restocked">재입고</span>
														<span class="data-item earn-points">추가적립</span>
													</div>
												</div>
												<!--//goods-type-->
												<!--goods-data-->
												<div class="goods-data">
													<div class="data-list">
														<span class="data-item rating"><span class="head">평점</span> <span class="body">3.5</span></span>
														<span class="data-item view"><span class="head">구매</span> <span class="body">200 +</span></span>
													</div>
												</div>
												<!--//goods-data-->
												<!--goods-foot-->
												<div class="goods-foot">
													<div class="goods-price">
														<div class="data-list">
															<span class="data-item sale"><span class="head">판매가</span> <span class="body"><span class="text">9,999,000</span> <span class="unit">원</span></span></span>
															<span class="data-item off"><span class="head">할인율</span> <span class="body"><span class="text">36</span> <span class="unit">%</span></span></span>
														</div>
													</div>
												</div>
												<!--//goods-foot-->
											</div>
											<!--//goods-inform-->
										</div>
										<!--//goods-area-->
									</div>
									<% } %>
								</div>
								<!--//goods-list-->
							</div>
							<!--//goods-display-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
<%-include('../_popup/_01.04.L01.ejs') %>
</body>
</html>