<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.goods.css',
	pageJavascript: 'page.goods.js'
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '1'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">쇼핑</span></h2>
<%-include('../_templates/_lnb.goods.ejs', {current: '7'}) %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body goods-theme" id="content">
				<!--content-head-->
				<div class="content-head"><div class="content-title"><h3 class="content-name">테마</h3></div></div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--info-board-->
					<div class="info-board style-g type-a">
						<p class="board-head"> <span class="wbr">고민없이 모아보는</span><strong class="wbr">주제별 모음</strong> </p>
					</div>
					<!--info-board-->

					<!--section-->
					<div class="section main-display">
						<div class="section-head"><div class="section-title"><h4 class="section-name">테마 주제</h4></div></div>
						<div class="section-body">
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name"><span class="wbr">이사할 때</span> <span class="wbr">필요한 제품목록</span></h5></div></div>
								<div class="subsection-body">
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_01.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_02.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_03.png" alt=""></a></li>
										</ul>
									</div>
									<div class="button-area more-data">
										<a class="btn" href="#">+24</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name"><span class="wbr">벽지도배</span> <span class="wbr">꼭 필요한 필수품</span></h5></div></div>
								<div class="subsection-body">
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_04.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_05.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_06.png" alt=""></a></li>
										</ul>
									</div>
									<div class="button-area more-data">
										<a class="btn" href="#">+24</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name"><span class="wbr">추울 때를</span> <span class="wbr">대비한 필수품</span></h5></div></div>
								<div class="subsection-body">
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_07.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_08.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_09.png" alt=""></a></li>
										</ul>
									</div>
									<div class="button-area more-data">
										<a class="btn" href="#">+24</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name"><span class="wbr">봄가을</span> <span class="wbr">피크닉 완소 아이템</span></h5></div></div>
								<div class="subsection-body">
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_01.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_02.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_03.png" alt=""></a></li>
										</ul>
									</div>
									<div class="button-area more-data">
										<a class="btn" href="#">+24</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name"><span class="wbr">더위를 식히는</span> <span class="wbr">시원한 여름 홈파티</span></h5></div></div>
								<div class="subsection-body">
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_04.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_05.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_06.png" alt=""></a></li>
										</ul>
									</div>
									<div class="button-area more-data">
										<a class="btn" href="#">+24</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name"><span class="wbr">캠핑의 계절</span> <span class="wbr">신나는 바베큐 파티</span></h5></div></div>
								<div class="subsection-body">
									<div class="data-display">
										<ul class="data-list">
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_07.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_08.png" alt=""></a></li>
											<li class="data-item"><a class="data-area" href="#"><img class="image" src="./../../assets/images/@temporary/img_category_09.png" alt=""></a></li>
										</ul>
									</div>
									<div class="button-area more-data">
										<a class="btn" href="#">+24</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
</body>
</html>