<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.order.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '1'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">주문</span></h2>
<%-include('../_templates/_lnb.goods.ejs', {current: '0'}) %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body order-complete" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">주문완료</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--info-board-->
					<div class="info-board style-b type-c medium">
						<div class="board-head">
							<p class="board-subject">주문해 주셔서 감사합니다.</p>
							<p class="order-number"><span class="head">주문번호</span> <span class="body">007170335417814</span></p>
						</div>
						<div class="board-body">
							<p class="board-summary">아래 결제정보를 확인해 주세요. 결제 완료 후, 배송이 진행됩니다.</p>
							<!--data-display-->
							<div class="data-display style-c type-a">
								<ul class="data-list">
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">주문상태</span></span>
											<span class="data-body">결제확인</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">입금계좌</span></span>
											<span class="data-body">우리은행 1005-201-794928 (주)문고리닷컴</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">입금기한</span></span>
											<span class="data-body">2020.09.02 까지<br><span class="em normal-03 x-small">기한 내 결제가 진행되지 않은 경우 자동으로 주문 취소 처리됩니다.</span></span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">증빙자료</span></span>
											<span class="data-body">
												<span class="button-area style-a">
													<a class="btn theme-a style-b type-b normal-03 small" href="#"><span class="btn-text">현금영수증 신청</span></a>
													<a class="btn theme-a style-b type-b normal-03 small" href="#"><span class="btn-text">세금계산서 신청</span></a>
													<a class="btn theme-a style-b type-b normal-03 small" href="#"><span class="btn-text">신용카드매출전표</span></a>
												</span>
											</span>
										</div>
									</li>
								</ul>
							</div>
							<!--//data-display-->
						</div>
					</div>
					<!--//info-board-->
					<!--button-area-->
					<div class="button-area style-a type-c">
						<a class="btn theme-a style-b type-a accent-01 xxx-large" href="#"><span class="btn-text">쇼핑 계속하기</span></a>
						<a class="btn theme-a style-b type-b normal-03 xxx-large" href="#"><span class="btn-text">주문상세내역</span></a>
					</div>
					<!--//button-area-->
					<!--section-->
					<div class="section default orderer-info">
						<div class="section-head"><div class="section-title"><h4 class="section-name">주문자 정보</h4></div></div>
						<div class="section-body">
							<!--data-display-->
							<div class="data-display style-c type-a">
								<ul class="data-list">
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">이름</span></span>
											<span class="data-body">김고리</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">연락처</span></span>
											<span class="data-body">010-1234-5678</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">이메일</span></span>
											<span class="data-body">gori.kim77@naver.com</span>
										</div>
									</li>
								</ul>
							</div>
							<!--//data-display-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section default shipping-info">
						<div class="section-head"><div class="section-title"><h4 class="section-name">배송지 정보</h4></div></div>
						<div class="section-body">
							<!--data-display-->
							<div class="data-display style-c type-a">
								<ul class="data-list">
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">받는 분</span></span>
											<span class="data-body">김고리</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">주소</span></span>
											<span class="data-body">서울특별시 서초구 사임당로 171(서초동) 13층 (주)리플렉션</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">연락처</span></span>
											<span class="data-body">010-1234-5678, 02-1234-5678</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">요청사항</span></span>
											<span class="data-body">배송전에 미리 연락해주세요.</span>
										</div>
									</li>
								</ul>
							</div>
							<!--//data-display-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section default payment-info">
						<div class="section-head"><div class="section-title"><h4 class="section-name">결제 정보</h4></div></div>
						<div class="section-body">
							<!--data-display-->
							<div class="data-display">
								<ul class="data-list">
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">주문금액</span></span>
											<span class="data-body"><span class="text">91,164</span><span class="unit">원</span></span>
										</div>
										<div class="data-side">
											<!--data-display-->
											<div class="data-display style-c type-c">
												<ul class="data-list">
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">총 상품금액</span></span>
															<span class="data-body">999,996,164원</span>
														</div>
													</li>
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">배송비</span></span>
															<span class="data-body">+ 3,500원</span>
														</div>
													</li>
												</ul>
											</div>
											<!--//data-display-->
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">상품 및 쿠폰 할인</span></span>
											<span class="data-body"><span class="text">- 8,500</span><span class="unit">원</span></span>
										</div>
										<div class="data-side">
											<!--data-display-->
											<div class="data-display style-c type-c">
												<ul class="data-list">
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">상품 쿠폰</span></span>
															<span class="data-body">- 6,000원</span>
														</div>
													</li>
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">배송비 쿠폰</span></span>
															<span class="data-body">- 2,500원</span>
														</div>
													</li>
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">장바구니 쿠폰</span></span>
															<span class="data-body">- 2,500원</span>
														</div>
													</li>
												</ul>
											</div>
											<!--//data-display-->
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">예치금/포인트</span></span>
											<span class="data-body"><span class="text">91,164</span><span class="unit">원</span></span>
										</div>
										<div class="data-side">
											<!--data-display-->
											<div class="data-display style-c type-c">
												<ul class="data-list">
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">예치금</span></span>
															<span class="data-body">- 2,000원</span>
														</div>
													</li>
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">포인트</span></span>
															<span class="data-body">- 3,500원</span>
														</div>
													</li>
												</ul>
											</div>
											<!--//data-display-->
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">총 결제 금액</span></span>
											<span class="data-body"><span class="text">91,164</span><span class="unit">원</span></span>
										</div>
										<div class="data-side">
											<!--data-display-->
											<div class="data-display style-c type-c">
												<ul class="data-list">
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">결제일시</span></span>
															<span class="data-body">2020.12.25 10:23:52</span>
														</div>
													</li>
													<li class="data-item">
														<div class="data-area">
															<span class="data-head"><span class="data-name">결제방법</span></span>
															<span class="data-body">신용카드, 현대카드(2564) / 일시불</span>
														</div>
													</li>
												</ul>
											</div>
											<!--//data-display-->
										</div>
									</li>
								</ul>
							</div>
							<!--//data-display-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
</body>
</html>