<!DOCTYPE html>
<html lang="ko">
<head>

<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.mypage.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '0'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name">마이페이지</h2></div>
<%-include('../_templates/_lnb.mypage.ejs') %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body account-management" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">배송지/환불계좌 관리</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--tab-display-->
					<div class="tab-display style-c type-a xxx-large">
						<ul class="tab-list">
							<li class="tab-item current" title="현재 선택된 항목"><a class="tab-name" href="#">배송지 관리</a></li>
							<li class="tab-item"><a class="tab-name" href="#">환불계좌 관리</a></li>
						</ul>
					</div>
					<!--//tab-display-->
					<!--section-->
					<div class="section default">
						<div class="section-head"><div class="section-title"><h4 class="section-name">배송지 관리</h4></div></div>
						<div class="section-body">
							<!--info-board-->
							<div class="info-board style-b type-c medium no-data attr-address">
								<div class="board-body">
									<p class="board-summary">등록된 배송지 정보가 없습니다.</p>
									<!--button-area-->
									<div class="button-area style-a type-c">
										<a class="btn theme-a style-b type-a normal-02 x-large" href="#"><span class="btn-text">신규 배송지</span></a>
									</div>
									<!--//button-area-->
								</div>
							</div>
							<!--//info-board-->
							<!--data-util-->
							<div class="data-util">
								<div class="util-item">
									<p class="data-noti">배송지 정보는 최대 10개까지 추가가 가능합니다.</p>
								</div>
								<div class="util-item">
									<div class="button-arae style-a">
										<button class="btn theme-a style-b type-a normal-02 large" type="button"><span class="btn-text">신규 배송지</span></button>
									</div>
								</div>
							</div>
							<!--//data-util-->
							<!--data-table-->
							<div class="data-table style-c type-a large">
								<table>
									<caption>caption name</caption>
									<colgroup>
										<col style="width: 9rem;">
										<col>
										<col style="width: 9.5rem;">
										<col style="width: 9rem;">
									</colgroup>
									<thead>
										<tr>
											<th scope="col">배송지</th>
											<th scope="col">주소</th>
											<th scope="col">연락처</th>
											<th scope="col">관리</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong class="em accent-01">회사</strong><br><strong class="em">김고리</strong><br><span class="mark theme-a style-b type-b normal-04 xx-small"><span class="mark-text">기본</span></span></td>
											<td style="text-align: left;">서울특별시 서초구 사임당로171 13층<br>[지번] 서초동 1330-8</td>
											<td><span class="em normal-03">010-1234-5678<br>02-1234-5678</span></td>
											<td>
												<div class="button-area style-a type-c">
													<a class="btn theme-a style-b type-b normal-03 medium" href="#"><span class="btn-text">수정</span></a>
													<button class="btn theme-a style-b type-b normal-03 medium" type="button"><span class="btn-text">삭제</span></button>
												</div>
											</td>
										</tr>
										<% for(var i = 0; i < 5; i++) { %>
										<tr>
											<td><strong class="em">김고리</strong></td>
											<td style="text-align: left;">서울특별시 서초구 사임당로171 13층<br>[지번] 서초동 1330-8</td>
											<td><span class="em normal-03">010-1234-5678<br>02-1234-5678</span></td>
											<td>
												<div class="button-area style-a type-c">
													<a class="btn theme-a style-b type-b normal-03 medium" href="#"><span class="btn-text">수정</span></a>
													<button class="btn theme-a style-b type-b normal-03 medium" type="button"><span class="btn-text">삭제</span></button>
												</div>
											</td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
							<!--//data-table-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
<%-include('../_popup/_05.07.T01.L01.ejs') %>
</body>
</html>