<!DOCTYPE html>
<html lang="ko">
<head>

<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.mypage.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '0'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name">마이페이지</h2></div>
<%-include('../_templates/_lnb.mypage.ejs') %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body mypage-intro" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">나의 활동내역</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--account-display-->
					<div class="account-display">
						<div class="account-item">
							<div class="account-area">
								<div class="account-figure"><span class="account-thumbnail"><img class="image" src="./../../assets/images/@temporary/image_profile_01.png"></span></div>
								<div class="account-inform">
									<div class="account-head">
										<div class="account-title"><strong class="account-name">달콤새콤솜사탕</strong></div>
										<div class="account-tier">
											<span class="mark theme-a style-c type-b accent-02 xx-small"><span class="mark-text">서포터즈</span></span>
											<a class="em style-a normal-02 small symbol-rtl-chevron-right" href="#">FRIENDS &middot; 등급혜택</a>
										</div>
										<div class="account-intro"><p class="account-summary">프로필 한 줄 소개와 SNS 채널을 지금 등록해보세요.</p></div>
										<div class="account-channel">
											<a class="em normal-03 small" href="#">한 줄 소개 및 SNS 채널 등록하기</a>
											<!--data-display-->
											<div class="data-display">
												<p class="data-titl">운영채널 바로가기</p>
												<ul class="data-list">
													<li class="data-item"><a class="data-area" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>인스타그램</title><path d="M12,8.4c-2,0-3.6,1.6-3.6,3.6s1.6,3.6,3.6,3.6s3.6-1.6,3.6-3.6S14,8.4,12,8.4z M12,14.4c-1.3,0-2.4-1.1-2.4-2.4s1.1-2.4,2.4-2.4s2.4,1.1,2.4,2.4S13.3,14.4,12,14.4z M16.4,8.2C16.4,8.6,16,9,15.6,9c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8C16,7.4,16.4,7.8,16.4,8.2z M15.3,5.1H8.7c-2,0-3.6,1.6-3.6,3.6v6.6c0,2,1.6,3.6,3.6,3.6h6.6c2,0,3.6-1.6,3.6-3.6V8.7C18.9,6.7,17.3,5.1,15.3,5.1z M17.7,15.3c0,1.3-1.1,2.4-2.4,2.4H8.7c-1.3,0-2.4-1.1-2.4-2.4V8.7c0-1.3,1.1-2.4,2.4-2.4h6.6c1.3,0,2.4,1.1,2.4,2.4V15.3z"></path></svg></a></li>
													<li class="data-item"><a class="data-area" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>페이스북</title><path d="M13.7,19v-7h2.1L16,9.6h-2.3l0-1.2c0-0.6,0.1-1,1-1H16V5h-2.1c-2.5,0-3.4,1.2-3.4,3.1v1.4H9V12h1.6v7C10.6,19,13.7,19,13.7,19z"></path></svg></a></li>
													<li class="data-item"><a class="data-area" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>유튜브</title><path d="M10.4,9.7l4,2.3l-4,2.3V9.7L10.4,9.7z M20.9,11.8v0.3c0,0.4,0,2.8-0.4,4.1c-0.2,0.9-1,1.6-1.9,1.9c-1.3,0.3-5.5,0.4-6.5,0.4h-0.3c-1,0-5.2,0-6.5-0.4c-0.9-0.2-1.6-1-1.9-1.9c-0.3-1.1-0.4-3.3-0.4-3.9v-0.4c0-0.7,0.1-2.8,0.4-3.9C3.7,7,4.4,6.2,5.3,6c1.2-0.3,4.9-0.4,6.3-0.4h0.8c1.3,0,5.1,0.1,6.2,0.4c0.9,0.2,1.6,1,1.9,1.9C20.9,9,20.9,11.1,20.9,11.8z M19.4,8.2L19.4,8.2c-0.1-0.5-0.5-0.9-1-1c-1-0.3-4.9-0.3-6.3-0.3c-1.4,0-5.3,0.1-6.3,0.3c-0.5,0.1-0.9,0.5-1,1C4.3,9.4,4.3,12,4.3,12c0,0,0,2.6,0.3,3.8c0.1,0.5,0.5,0.9,1,1c1,0.3,4.9,0.3,6.3,0.3c1.4,0,5.3-0.1,6.3-0.3c0.5-0.1,0.9-0.5,1-1c0.3-1.2,0.3-3.8,0.3-3.8C19.7,12,19.7,9.4,19.4,8.2z"></path></svg></a></li>
													<li class="data-item"><a class="data-area" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>기타 URL</title><path d="M14.6,14c0,0.4-0.3,0.6-0.6,0.6s-0.6-0.3-0.6-0.6s0.3-0.6,0.6-0.6S14.6,13.6,14.6,14z M19,9.5V18c0,0.6-0.4,1-1,1H6c-0.6,0-1-0.4-1-1V9.5c0-0.3,0.2-0.6,0.4-0.8L12,4l6.6,4.7C18.8,8.9,19,9.2,19,9.5z M16,14c0-1.1-0.9-2-2-2s-2,0.9-2,2s0.9,2,2,2S16,15.1,16,14z"></path></svg></a></li>
												</ul>
											</div>
											<!--//data-display-->
										</div>
									</div>
									<div class="account-body">
										<!--data-display-->
										<div class="data-display">
											<p class="data-titl">쿠폰 및 예치금 보유 현황</p>
											<ul class="data-list">
												<li class="data-item"><a class="data-area" href="#"><span class="data-head"><span class="data-name">쿠폰</span></span> <span class="data-body">3</span></a></li>
												<li class="data-item"><a class="data-area" href="#"><span class="data-head"><span class="data-name">포인트</span></span> <span class="data-body">11,100</span></a></li>
												<li class="data-item"><a class="data-area" href="#"><span class="data-head"><span class="data-name">예치금</span></span> <span class="data-body">156,000</span></a></li>
											</ul>
										</div>
										<!--//data-display-->
									</div>
								</div>
							</div>
							<div class="account-side">
								<div class="button-area style-a">
									<a class="btn theme-a style-b type-b normal-03 medium" href="#"><span class="btn-text">회원정보 수정</span></a>
								</div>
							</div>
						</div>
					</div>
					<!--//account-display-->
					<!--tab-display-->
					<div class="tab-display style-c type-a xxx-large">
						<ul class="tab-list">
							<li class="tab-item"><a class="tab-name" href="#">쇼핑</a></li>
							<li class="tab-item current" title="현재 선택된 항목"><a class="tab-name" href="#">스토리</a></li>
						</ul>
					</div>
					<!--//tab-display-->
					<!--section-->
					<div class="section">
						<div class="section-head"><div class="section-title"><h4 class="section-head">스토리</h4></div></div>
						<div class="section-body">
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head">
									<div class="subsection-title">
										<h5 class="subsection-name">내가 쓴 글</h5>
										<p class="subsection-data">0</p>
									</div>
								</div>
								<div class="subsection-body">
									<!--info-board-->
									<div class="info-board style-b type-c medium no-data attr-write">
										<div class="board-body"><p class="board-summary">작성한 글이 없습니다.</p></div>
									</div>
									<!--//info-board-->
									<!--posts-display-->
									<div class="posts-display style-b type-c medium">
										<!--posts-list-->
										<ul class="posts-list">
											<% for(var i = 0; i < 4; i++) {
												Number.prototype.pad = function(size) {
													var s = String(this);
													while (s.length < (size || 2)) {s = "0" + s;}
													return s;
												}
											%>
											<li class="posts-item">
												<div class="posts-area">
													<!--posts-figure-->
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/thumbnail_posts_<%= (i).pad(2) %>.jpg" alt=""></a>
													</div>
													<!--//posts-figure-->
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">홈스타일링</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">고행을 하였으며, 끝에 뿐이다. 그것은 너의 전인 옷을 위하여 할지니, 있음으로써 힘있다. 청춘은 보이는 커다란 전인 뼈 따뜻한 그리하였는가? 청춘의 인간이 구하기 쓸쓸한 그리하였는가? 간에 가는 피가 꽃이 노래하며 청춘을 같으며, 오아이스도 유소년에게서 쓸쓸하랴? 행복스럽고 없는 위하여, 같은 오아이스도 청춘의 청춘에서만 유소년에게서 밝은 피다.</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																	<span class="mark accent-01"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>에디터</title><path d="M12.2,8c-2.1,0-3.8,1.4-3.8,4.1v0.2c0,2.6,1.3,4.2,4.1,4.2c1.4,0,2.4-0.4,2.9-0.8v-1.3c-0.7,0.4-1.5,0.6-2.5,0.6 c-1.6,0-2.4-0.6-2.6-2.3h5.4V12C15.6,9.3,14.6,8,12.2,8z M10.3,11.5c0.1-1.7,1-2.1,1.9-2.1c1.1,0,1.6,0.6,1.6,2.1H10.3z M12,3 c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S17,3,12,3z M12,19.7c-4.2,0-7.7-3.4-7.7-7.7S7.8,4.3,12,4.3s7.7,3.4,7.7,7.7S16.2,19.7,12,19.7z"></path></svg></span>
																	<span class="mark accent-02"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>서포터즈</title><path d="M15,13.7c0,1.7-1.2,2.6-3.2,2.6c-1.1,0-2.1-0.2-2.8-0.6v-1.4c0.7,0.3,1.3,0.5,2.5,0.5c1.2,0,1.7-0.4,1.7-1 c0-0.6-0.3-0.9-1.2-1.1l-0.8-0.2C9.8,12.4,9,11.7,9,10.2c0-1.5,1-2.5,3.1-2.5c1.1,0,1.9,0.2,2.4,0.5v1.4c-0.5-0.2-1.3-0.5-2.3-0.5 c-1,0-1.5,0.3-1.5,1c0,0.6,0.3,0.8,1.1,1l0.8,0.2C14.4,11.6,15,12.3,15,13.7z M21,12c0,5-4,9-9,9s-9-4-9-9s4-9,9-9S21,7,21,12z  M19.7,12c0-4.2-3.4-7.7-7.7-7.7S4.3,7.8,4.3,12s3.4,7.7,7.7,7.7S19.7,16.2,19.7,12z"></path></svg></span>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">999+</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<% } %>
										</ul>
										<!--//posts-list-->
									</div>
									<!--//posts-display-->
								</div>
								<div class="subsection-side">
									<div class="button-area style-a">
										<a class="em style-a normal-03 small symbol-rtl-chevron-right" href="#">더보기</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default recent-order">
								<div class="subsection-head">
									<div class="subsection-title">
										<h5 class="subsection-name">스크랩한 글</h5>
										<p class="subsection-data">0</p>
									</div>
								</div>
								<div class="subsection-body">
									<!--info-board-->
									<div class="info-board style-b type-c medium no-data attr-scrap">
										<div class="board-body"><p class="board-summary">스크랩한 글이 없습니다.</p></div>
									</div>
									<!--//info-board-->
									<!--posts-display-->
									<div class="posts-display style-b type-c medium">
										<!--posts-list-->
										<ul class="posts-list">
											<% for(var i = 0; i < 4; i++) {
												Number.prototype.pad = function(size) {
													var s = String(this);
													while (s.length < (size || 2)) {s = "0" + s;}
													return s;
												}
											%>
											<li class="posts-item">
												<div class="posts-area">
													<!--posts-figure-->
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/thumbnail_posts_<%= (i).pad(2) %>.jpg" alt=""></a>
													</div>
													<!--//posts-figure-->
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">홈스타일링</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">고행을 하였으며, 끝에 뿐이다. 그것은 너의 전인 옷을 위하여 할지니, 있음으로써 힘있다. 청춘은 보이는 커다란 전인 뼈 따뜻한 그리하였는가? 청춘의 인간이 구하기 쓸쓸한 그리하였는가? 간에 가는 피가 꽃이 노래하며 청춘을 같으며, 오아이스도 유소년에게서 쓸쓸하랴? 행복스럽고 없는 위하여, 같은 오아이스도 청춘의 청춘에서만 유소년에게서 밝은 피다.</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																	<span class="mark accent-01"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>에디터</title><path d="M12.2,8c-2.1,0-3.8,1.4-3.8,4.1v0.2c0,2.6,1.3,4.2,4.1,4.2c1.4,0,2.4-0.4,2.9-0.8v-1.3c-0.7,0.4-1.5,0.6-2.5,0.6 c-1.6,0-2.4-0.6-2.6-2.3h5.4V12C15.6,9.3,14.6,8,12.2,8z M10.3,11.5c0.1-1.7,1-2.1,1.9-2.1c1.1,0,1.6,0.6,1.6,2.1H10.3z M12,3 c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S17,3,12,3z M12,19.7c-4.2,0-7.7-3.4-7.7-7.7S7.8,4.3,12,4.3s7.7,3.4,7.7,7.7S16.2,19.7,12,19.7z"></path></svg></span>
																	<span class="mark accent-02"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>서포터즈</title><path d="M15,13.7c0,1.7-1.2,2.6-3.2,2.6c-1.1,0-2.1-0.2-2.8-0.6v-1.4c0.7,0.3,1.3,0.5,2.5,0.5c1.2,0,1.7-0.4,1.7-1 c0-0.6-0.3-0.9-1.2-1.1l-0.8-0.2C9.8,12.4,9,11.7,9,10.2c0-1.5,1-2.5,3.1-2.5c1.1,0,1.9,0.2,2.4,0.5v1.4c-0.5-0.2-1.3-0.5-2.3-0.5 c-1,0-1.5,0.3-1.5,1c0,0.6,0.3,0.8,1.1,1l0.8,0.2C14.4,11.6,15,12.3,15,13.7z M21,12c0,5-4,9-9,9s-9-4-9-9s4-9,9-9S21,7,21,12z  M19.7,12c0-4.2-3.4-7.7-7.7-7.7S4.3,7.8,4.3,12s3.4,7.7,7.7,7.7S19.7,16.2,19.7,12z"></path></svg></span>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">999+</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<% } %>
										</ul>
										<!--//posts-list-->
									</div>
									<!--//posts-display-->
								</div>
								<div class="subsection-side">
									<div class="button-area style-a">
										<a class="em style-a normal-03 small symbol-rtl-chevron-right" href="#">더보기</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default wish-lists">
								<div class="subsection-head">
									<div class="subsection-title">
										<h5 class="subsection-name">댓글 단 글</h5>
										<p class="subsection-data">0</p>
									</div>
								</div>
								<div class="subsection-body">
									<!--info-board-->
									<div class="info-board style-b type-c medium no-data attr-qna">
										<div class="board-body"><p class="board-summary">작성한 댓글이 없습니다.</p></div>
									</div>
									<!--//info-board-->
									<!--posts-display-->
									<div class="posts-display style-b type-c medium">
										<!--posts-list-->
										<ul class="posts-list">
											<% for(var i = 0; i < 4; i++) {
												Number.prototype.pad = function(size) {
													var s = String(this);
													while (s.length < (size || 2)) {s = "0" + s;}
													return s;
												}
											%>
											<li class="posts-item">
												<div class="posts-area">
													<!--posts-figure-->
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/thumbnail_posts_<%= (i).pad(2) %>.jpg" alt=""></a>
													</div>
													<!--//posts-figure-->
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">홈스타일링</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">고행을 하였으며, 끝에 뿐이다. 그것은 너의 전인 옷을 위하여 할지니, 있음으로써 힘있다. 청춘은 보이는 커다란 전인 뼈 따뜻한 그리하였는가? 청춘의 인간이 구하기 쓸쓸한 그리하였는가? 간에 가는 피가 꽃이 노래하며 청춘을 같으며, 오아이스도 유소년에게서 쓸쓸하랴? 행복스럽고 없는 위하여, 같은 오아이스도 청춘의 청춘에서만 유소년에게서 밝은 피다.</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																	<span class="mark accent-01"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>에디터</title><path d="M12.2,8c-2.1,0-3.8,1.4-3.8,4.1v0.2c0,2.6,1.3,4.2,4.1,4.2c1.4,0,2.4-0.4,2.9-0.8v-1.3c-0.7,0.4-1.5,0.6-2.5,0.6 c-1.6,0-2.4-0.6-2.6-2.3h5.4V12C15.6,9.3,14.6,8,12.2,8z M10.3,11.5c0.1-1.7,1-2.1,1.9-2.1c1.1,0,1.6,0.6,1.6,2.1H10.3z M12,3 c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S17,3,12,3z M12,19.7c-4.2,0-7.7-3.4-7.7-7.7S7.8,4.3,12,4.3s7.7,3.4,7.7,7.7S16.2,19.7,12,19.7z"></path></svg></span>
																	<span class="mark accent-02"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><title>서포터즈</title><path d="M15,13.7c0,1.7-1.2,2.6-3.2,2.6c-1.1,0-2.1-0.2-2.8-0.6v-1.4c0.7,0.3,1.3,0.5,2.5,0.5c1.2,0,1.7-0.4,1.7-1 c0-0.6-0.3-0.9-1.2-1.1l-0.8-0.2C9.8,12.4,9,11.7,9,10.2c0-1.5,1-2.5,3.1-2.5c1.1,0,1.9,0.2,2.4,0.5v1.4c-0.5-0.2-1.3-0.5-2.3-0.5 c-1,0-1.5,0.3-1.5,1c0,0.6,0.3,0.8,1.1,1l0.8,0.2C14.4,11.6,15,12.3,15,13.7z M21,12c0,5-4,9-9,9s-9-4-9-9s4-9,9-9S21,7,21,12z  M19.7,12c0-4.2-3.4-7.7-7.7-7.7S4.3,7.8,4.3,12s3.4,7.7,7.7,7.7S19.7,16.2,19.7,12z"></path></svg></span>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">999+</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<% } %>
										</ul>
										<!--//posts-list-->
									</div>
									<!--//posts-display-->
								</div>
								<div class="subsection-side">
									<div class="button-area style-a">
										<a class="em style-a normal-03 small symbol-rtl-chevron-right" href="#">더보기</a>
									</div>
								</div>
							</div>
							<!--//subsection-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
</body>
</html>