<!DOCTYPE html>
<html lang="ko">
<head>

<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.mypage.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '0'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name">마이페이지</h2></div>
<%-include('../_templates/_lnb.mypage.ejs') %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body delete-account" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">회원탈퇴</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--section-->
					<div class="section default check-delete-data">
						<div class="section-head"><div class="section-title"><h4 class="section-name">회원 탈퇴 전 아래 내용을 꼭 확인해주세요.</h4></div></div>
						<div class="section-body">
							<!--data-display-->
							<div class="data-display">
								<ul class="data-list">
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">진행 중인 주문</span></span>
											<span class="data-body">3건</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">보유 포인트 </span></span>
											<span class="data-body">2,500원</span>
										</div>
									</li>
									<li class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name">보유 예치금</span></span>
											<span class="data-body">10,000원</span>
										</div>
									</li>
								</ul>
							</div>
							<!--//data-display-->
							<p class="para normal-03 small">회원 탈퇴 시 개인 정보와 작성된 게시글 및 구매내역은 삭제되며, 삭제된 내역에 대해서는 복구가 불가능합니다.<br>잔여 포인트는 탈퇴 전에 모두 사용하시기를 권장 드리며, 탈퇴 이후에는 복구가 될 수 없으니 유의하시기 바랍니다.</p>
							<!--submit-form-->
							<div class="option-select style-a type-a">
								<fieldset class="option-list">
									<legend>개인 정보 삭제 및 보유 포인트 자동 소멸 선택 서식</legend>
									<div class="option-item"><div class="option-head"><span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">예, 개인 정보 삭제 및 보유 포인트 자동 소멸에 대하여 확인했으며, 동의합니다.</span></label></div></div>
								</fieldset>
							</div>
							<!--//submit-form-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section default">
						<div class="section-head"><div class="section-title"><h4 class="section-name">예치금 출금 정보</h4></div></div>
						<div class="section-body">
							<!--submit-form-->
							<div class="submit-form style-a type-c">
								<fieldset class="form-list">
									<legend>예치금 출금 정보 입력 서식</legend>
									<div class="form-item">
										<div class="form-head"><span class="form-name">예금주 <span class="required">*</span></span></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form textfield style-b type-b normal-03 x-large" style="width: 12rem; min-width: 12rem;">
													<input class="form-elem" type="text" placeholder="">
													<span class="form-util"><span class="form-clear"></span></span>
												</span>
											</div>
										</div>
									</div>
									<div class="form-item">
										<div class="form-head"><span class="form-name">은행명 <span class="required">*</span></span></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form select style-b type-b normal-03 x-large" style="width: 21rem; min-width: 21rem;">
													<select class="form-elem">
														<option>은행 선택</option>
													</select>
												</span>
											</div>
										</div>
									</div>
									<div class="form-item">
										<div class="form-head"><span class="form-name">계좌번호 <span class="required">*</span></span></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form textfield style-b type-b normal-03 x-large" style="width: 21rem; min-width: 21rem;">
													<input class="form-elem" type="text" placeholder="숫자만 입력 (- 제외)">
													<span class="form-util"><span class="form-clear"></span></span>
												</span>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<!--//submit-form-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section default">
						<div class="section-head"><div class="section-title"><h4 class="section-name">탈퇴 사유 (복수선택 가능)</h4></div></div>
						<div class="section-body">
							<!--submit-form-->
							<div class="option-select style-a type-a">
								<fieldset class="option-list">
									<legend>탈퇴 사유 선택 서식</legend>
									<div class="option-item"><div class="option-head"><span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">상품 구매/주문 편의성 불만족</span></label></div></div>
									<div class="option-item"><div class="option-head"><span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">상품 품질 불만족</span></label></div></div>
									<div class="option-item"><div class="option-head"><span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">배송 불만족</span></label></div></div>
									<div class="option-item"><div class="option-head"><span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">고객응대 등 CS 불만족</span></label></div></div>
									<div class="option-item"><div class="option-head"><span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">기타</span></label></div></div>
								</fieldset>
							</div>
							<!--//submit-form-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section default">
						<div class="section-head"><div class="section-title"><h4 class="section-name">추가 의견 (선택)</h4></div></div>
						<div class="section-body">
							<!--submit-form-->
							<div class="submit-form theme-a style-a type-a">
								<fieldset class="form-list">
									<legend>추가 의견 작성 서식</legend>
									<div class="form-item">
										<div class="form-body">
											<div class="form-area">
												<span class="form textarea style-b type-b normal-03 x-large flex">
													<textarea class="form-elem" rows="6" placeholder="불편하셨던 점 또는 개선되었으면 하는 부분에 대한 소중한 의견 부탁드립니다. "></textarea>
													<span class="form-util"><span class="form-limit"><strong class="input">0</strong><span class="part">/</span><span class="limit">2000자</span></span></span>
												</span>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<!--//submit-form-->
						</div>
					</div>
					<!--//section-->
					<!--button-area-->
					<div class="button-area style-a type-c">
						<a class="btn theme-a style-b type-b normal-03 x-large" href="#"><span class="btn-text">취소</span></a>
						<button class="btn theme-a style-b type-a normal-02 x-large" type="submit" disabled="disabled"><span class="btn-text">탈퇴하기</span></button>
					</div>
					<!--//button-area-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
</body>
</html>