<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.support.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '0'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name">고객센터</h2></div>
				<%-include('../_templates/_lnb.support.ejs') %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body use-infomation" id="content">
				<!--content-head-->
				<div class="content-head"><div class="content-title"><h3 class="content-name">회원 혜택 안내</h3></div></div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--tab-display-->
					<div class="tab-display style-c type-c xxx-large">
						<ul class="tab-list">
							<li class="tab-item"><a class="tab-name" href="#">개인회원 등급제도</a></li>
							<li class="tab-item"><a class="tab-name" href="#">기업회원 등급제도</a></li>
							<li class="tab-item"><a class="tab-name" href="#">회원가입 시 혜택</a></li>
							<li class="tab-item current"><a class="tab-name" href="#">포인트 안내</a></li>
							<li class="tab-item"><a class="tab-name" href="#">배송/교환/반품 안내</a></li>
						</ul>
					</div>
					<!--//tab-display-->
					
					<!--section-->
					<div class="section point-benefit">
						<div class="section-head"><div class="section-title"><h4 class="section-name">포인트 안내</h4></div></div>
						<div class="section-body">
							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">포인트란?</h5></div></div>
								<div class="subsection-body">
									<ul class="data-list style-a type-a normal-02 small">
										<li class="data-item">문고리닷컴에서 포인트 적립 기준에 따라 제공되며, 현금처럼 사용이 가능한 결제 수단입니다.</li>
									</ul>
									<div class="button-area style-a">
										<a class="em style-b accent-01 small symbol-rtl-chevron-right" href="#">등급별 적립률</a>
									</div>
								</div>
							</div>
							<!--//subsection-->

							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">포인트 적립 안내</h5></div></div>
								<div class="subsection-body">
									<ul class="data-list style-a type-a normal-02 small">
										<li class="data-item">상품 후기
											<ul class="data-list style-b type-b normal-03 small">
												<li class="data-item">사진 후기 등록 시 : 150원</li>
												<li class="data-item">일반(10자 이상) 후기 등록 시 : 50원</li>
											</ul>
										</li>
										<li class="data-item">룰렛출첵</li>
										<li class="data-item">이외 보상에 따른 포인트 지급</li>
									</ul>
								</div>
							</div>
							<!--//subsection-->

							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">포인트 사용 안내</h5></div></div>
								<div class="subsection-body">
									<ul class="data-list style-a type-a normal-02 small">
										<li class="data-item">포인트는 실 결제금액 1만원 이상일 때 사용가능 합니다. <p class="para normal-03">※ 상품 실 결제금액 = {상품 할인가(판매가) x 수량} – 할인(쿠폰, 등급, 좋아요, 모바일, 프로모션코드)</p></li>
										<li class="data-item">사용 가능 포인트는 1원 단위로 사용하실 수 있습니다.</li>
										<li class="data-item">포인트는 다른 결제 수단과 함께 사용하실 수 있습니다.</li>
										<li class="data-item">구매 시 적립되는 포인트는 상품 실 결제금액에 대해서만 받으실 수 있습니다. <p class="para normal-03">(적립 포인트 제외 : 택배 비 할인 품목, 특별행사 품목, 공동구매, 교환으로 인한 중복 포인트 등)</p></li>
									</ul>
								</div>
							</div>
							<!--//subsection-->

							<!--subsection-->
							<div class="subsection default">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">소멸 예정 포인트란?</h5></div></div>
								<div class="subsection-body">
									<ul class="data-list style-a type-a normal-02 small">
										<li class="data-item">유효기간의 경과로 소멸이 예상되는 포인트입니다. 포인트 사용시 남은 유효기간이 적은 순서로 차감되므로 포인트 소멸을 최대한 방지할 수 있습니다.</li>
										<li class="data-item">포인트 유효기간
											<ul class="data-list style-b type-b normal-03 small">
												<li class="data-item">구매 등 일반적인 쇼핑활동으로 받은 포인트 : 1년</li>
												<li class="data-item">회원가입 시 받은 포인트 : 1개월</li>
												<li class="data-item">룰렛 출첵  포인트 : 1개</li>
												<li class="data-item">이외 보상에 따른 포인트 : 1년</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<!--//subsection-->
						</div>
					</div>
					<!--//section-->
				
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
</body>
</html>