<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.support.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs', {current: '0'}) %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name">고객센터</h2></div>
				<%-include('../_templates/_lnb.support.ejs') %>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body notice-read" id="content">
				<!--content-head-->
				<div class="content-head"><div class="content-title"><h3 class="content-name">공지사항</h3></div></div>
				<!--//content-head--> 
				<!--content-body-->
				<div class="content-body">
					<!--posts-read-->
					<div class="posts-read style-a type-a">
						<!--posts-area-->
						<div class="posts-area">
							<!--posts-inform-->
							<div class="posts-inform">
								<!--posts-head-->
								<div class="posts-head">
									<div class="posts-title">
										<span class="mark theme-a style-b type-b xx-small accent-01"><span class="mark-text">공지</span></span>
										<h4 class="posts-name">8월 3주, 구매후기 쓰고 포인트 2배 찬스 이벤트</h4>
									</div>
								</div>
								<!--//posts-head-->

								<!--posts-data-->
								<div class="posts-data">
									<div class="data-list">
										<span class="data-item date"><span class="head">등록일</span> <span class="body">2020.01.31</span></span>
									</div>
								</div>
								<!--//posts-data-->

								<!--posts-body-->
								<div class="posts-body">
									<div class="posts-text">
										<p style="font-size: 14px; line-height: 20px; color: #605d5b; margin: 0;">
											안녕하세요 문고리닷컴입니다.<br>
											개인정보처리방침 및 이용약관 내용의 일부가 <br>
											아래와 같이 변경됨을 알려드립니다.<br><br>

											● 주요 변경사항<br>
											1) 개인정보처리방첨 : 택배사 추가에 따른 <br>
											택배사 명칭 기재<br>
											2) 이용약관 : 개인정보 취급과 책임한계와 법적고시의 ‘표준상거래 개정판’ 준수<br><br>

											● 세부 내용<br><br>

											1. 개인정보처리방침 변경1) 변경사유 : 현재 운용중인 롯데택배외 배송대행사 및 택배사 추가로 인해 개인정보처리 위탁에 관한 규정 명시<br><br>

											2) 변경내용 <br>
											3) 시행일 : 2020.07.08<br><br>

											2. 이용약관 변경1) 변경사유 : 공정거래위원회 전자상거래 표준상거래 개정판 적용에 따라 고객에게 보다 명확한 정보를 전달하기 위한 일부사항 변경 적용<br><br>

											2) 변경내용<br>
										</p>
									</div>
								</div>
								<!--//posts-body-->
							</div>
							<!--//posts-inform-->
						</div>
						<!--//posts-area-->
					</div>
					<!--//posts-read-->
					<!--button-area-->
					<div class="button-area style-a type-a">
						<div class="button-item"><a class="btn theme-a style-b type-b x-large normal-03" href="#"><span class="btn-text">목록</span></a></div>
					</div>
					<!--//button-area-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
<%-include('../_popup/_09.L02.T01.ejs') %>
</body>
</html>